@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

.invite-section {
  display: flex;
  background-color: #000000;
  color: white;
  text-align: center;
  justify-content: center;
  padding-top: 40px;
  position: relative;
  transition: all 0.5s ease-in-out;
  height: 100vh;
}

.no-padding {
  padding: 0;
}

.invitation-title {
  font-family: 'Cormorant Garamond', serif;
  font-size: 24px;
}

.invitation-text {
  font-family: 'Pinyon Script', cursive;
  font-size: 56px;
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 40px;
}

.invitation-second-text {
  font-family: 'Cormorant Garamond', serif;
  font-size: 16px;
  margin-top: 80px;
}

.inv-image {
  cursor: pointer;
  border: 2px solid white;
  transition: all 0.8s ease;
  display: block;
  margin: 0 auto;
}

/* Збільшення фото після натискання */
.inv-image.expanded {
  width: 100vi;
  height: 100vb;
  border: none;
}

.invite-section .container {
  padding: 0;
}

.image-text {
  position: absolute;
  bottom: -50px; /* Початково прихований нижче */
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  padding: 10px 20px;
  opacity: 0;
  transition: bottom 1s ease-in-out, opacity 0.5s;
}

/* Коли з'являється */
.image-text.visible {
  bottom: 30px; /* Піднімається вгору */
  opacity: 1;
  width: max-content;
}

.inv-text-first {
  font-family: 'Cormorant Garamond', serif;
  font-size: 24px;
}

.inv-text-second {
  font-family: 'Pinyon Script', cursive;
  font-weight: 400;
  font-size: 46px;
  margin-top: 20px;
}

.inv-text-thirt {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-top: 80px;
}

.section {
  display: none;
  opacity: 0;
}

.location-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data {
  font-family: 'Cormorant Garamond', serif;
  font-size: 32px;
  font-weight: 700;
}

.pre-text {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-bottom: 40px;
  justify-content: flex-end;
}

.location-wrapper {
  display: flex;
  flex-direction: column;
  padding: 180px 20px;
  width: 320px;
  border-radius: 200px;
  background-color: #000000;
  text-align: center;
}

.location-title {
  color: white;
  margin-bottom: 40px;
}

.location-text {
  color: white;
  margin-bottom: 30px;
}

.location-button {
  color: 233115;
  background-color: white;
  border-radius: 30px;
  padding: 20px 0;
  width: 250px;
  align-self: center;
  box-shadow: 0 4px 8px black;
  transition: box-shadow 0.6s ease, transform 0.5s ease;
}

.location-button:hover,
.location-button:focus {
  box-shadow: 0 8px 16px black;
  transform: scale(1.05);
}

.timing-title {
  text-align: right;
  margin-bottom: 20px;
  padding-left: 30px;
  line-height: 1;
}

.timing-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.timing-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.line {
  position: relative;
  padding-left: 100px; /* місце для лінії */
  margin: 20px 0;
}

.line::before {
  content: '';
  position: absolute;
  left: 0;
  top: 12px;
  width: 80px;
  height: 1px;
  background-color: black;
}

.dresscode-section {
  background-color: black;
  color: white;
  padding-bottom: 40px;
  padding-top: 0;
}

.dresscode-container {
  padding: 0;
}

.dresscode-title {
  margin-top: 20px;
  text-align: right;
  margin-bottom: 20px;
  line-height: 1;
}

.dresscode-wrapper {
  padding: 0 16px;
}

.dresscode-text {
  text-align: right;
  margin-bottom: 50px;
}
.dresscode-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dresscode-item {
  padding: 20px 20px;
  width: 80px;
  height: 40px;
  background-color: white;
  border-radius: 100%;
  position: relative;
  z-index: 1;
  box-shadow: 0 4px 8px black;
  transition: box-shadow 0.6s ease, transform 0.5s ease;
}

.dresscode-item:not(:first-child) {
  margin-left: -15px;
}

.dresscode-item:hover {
  box-shadow: 0 8px 16px black;
  transform: scale(1.1);
}

.rsvp-section {
  background-color: black;
}

.rsvp-container {
  background-color: white;
  border-radius: 200px;
  padding: 120px 20px;
  text-align: center;
}

.rsvp-title {
  font-size: 46px;
  margin-bottom: 40px;
}

.rsvp-text {
  margin-bottom: 20px;
}

.rsvp-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 20px;
}

.underline-input {
  border: none;
  border-bottom: 2px solid #a9a9a9;
  outline: none;
  width: 100%;
}

.underline-input:focus,
.underline-input:hover {
  border-bottom: 2px solid #363636;
}

.rsvp-check-wrapper {
  border: none;
  padding: 10px 0 10px 0;
}

.rsvp-button {
  color: #363636;
  background-color: white;
  border-radius: 30px;
  border: 2px solid #a9a9a9;
  padding: 20px 10px;
  width: 200px;
  align-self: center;
  box-shadow: 0 4px 8px #a9a9a9;
  transition: box-shadow 0.6s ease, transform 0.5s ease;
}

.rsvp-button:hover,
.rsvp-button:focus {
  box-shadow: 0 8px 16px #a9a9a9;
  transform: scale(1.05);
}

.flowers-section {
  background-color: #000000;
  background: url('../img/flowers-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  padding-bottom: 20px;
}

.flowers-title {
  font-size: 46px;
  margin-bottom: 40px;
}

.flowers-text {
  font-size: 14px;
}

.telegram-button {
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: #000000;
  border-radius: 30px;
  padding: 10px 10px;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 8px black;
  transition: box-shadow 0.6s ease, transform 0.5s ease;
}

.telegram-button:hover,
.telegram-button:focus {
  box-shadow: 0 8px 16px black;
  transform: scale(1.05);
}

.telegram-title {
  font-size: 46px;
  margin-bottom: 20px;
}

.telegram-text {
  margin-bottom: 20px;
}

.telegram-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
}

.goodbye-section {
  background-color: #000000;
  color: white;
}

.goodbye-text {
  font-family: 'Cormorant Garamond', serif;
  font-size: 46px;
  align-self: center;
  text-align: center;
}

.timer-section {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.countdown {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.time-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-num {
  font-size: 32px;
  font-weight: bold;
  color: #000000;
}

.time-label {
  font-size: 16px;
  color: #555;
  margin-top: 5px;
}

.timer-title {
  font-family: 'Cormorant Garamond', serif;
  font-size: 46px;
  margin-bottom: 40px;
}

.svg-icon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  fill: #ffffff;
}
